
<style>
        btn {
            color: #212529;
            background-color: #7cc;
            border-color: #5bc2c2
        }
    </style>
{% extends 'base.html' %}

{% block content %}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Hi There!</h1>
    <h5>I am Hitesh.</h5>
    <h5>I made this website using Django. </h5>
    <h5>I have added many cool features on this site. You can also leave me a message from a dropdown in the navbar.(I receive these messages in an attached file)</h5>
    <h5>This website has some of my projects added in the backend as apps. Have a look on my projects page.</h5>
    <p class="lead">
      <a href="/projects" class="btn btn-lg btn-secondary">Projects</a>
    </p>
</main>
{% endblock %}